.header
{
    
}
img#home{
    height: 50px;

   
}
.home_button
{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px ;
    padding-bottom: 10px;
	border-radius: 800px;
	font-weight: bold;
    
    opacity: .6 ;
	
   
    display: inline-block;

    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
	margin-left: 50px;
    margin-bottom: 20px;;
    
  }
.home_button:hover
{
	background: white;

	border-radius: 900px;

}
.navbar{
    width: 100%;
   
   margin-left: -10px;
    position: fixed;
    top: 0px;
    transition: .5;
    
}



img#container{
    position: auto;
    width: 400px;
    margin-top: 150px;
    margin-left: 450px;
    margin-bottom: 90px;
}

.top-section{
    height: 310px;
    overflow: hidden;

    position: relative;
  }
.nav{
  bottom: 1500px;
}
