*{
    margin: 0;
    padding: 0;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: url('img/bg.png');
    height: 60vh;
}
/*.header
{
    background:url('img/3.png') ;
    border-bottom: antiquewhite;
    height:95vh;
    padding-bottom: 30px;
   
  
}*/
.navbar a{
    width: 100%;
    padding: 20px;
    margin-left: 500px;
    position: fixed;
    margin-bottom: -150px;
    transition: .5;
    margin-top: -60px;
}

.navbar ul a {

    display: inline-block;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #BE7033;
    font-size: 20px;
    font-family:Georgia, serif;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
     
}
.navbar ul a:hover{
    background-color: silver; 
    width: auto ;   
}
#hed
{
    margin-top: 50px;
    height: 80vh;

}
.menu{
    background: url('img/bg3.png');
    height: 95vh;
    padding-bottom: 50px;
}
.menu h1{
    text-align: center;
    padding-top: 30px;
    margin-top: 60px;
    text-align: center;
    color: #954E20;
    font-size: 35px;
}
.menus1{
    position: absolute;
    margin-top: 320px;
    font-weight: bold;
    margin-left: 290px;
}
.menus2{
    position: absolute;
    margin-top: 320px;
    font-weight: bold;
    margin-left: 640px;
}
.menus3{
    position: absolute;
    margin-top: 320px;
    font-weight: bold;
    margin-left: 1000px;
}
.menus4{
    position: absolute;
    margin-top: 460px;
    font-weight: bold;
    margin-left: 460px;
}
.menus5{
    position: absolute;
    margin-top: 460px;
    font-weight: bold;
    margin-left: 860px;
}
.hero-button
{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px ;
    padding-bottom: 10px;
	border-radius: 800px;
	font-weight: bold;
    background:rgba(149, 78, 32,0.6);
	color: #F7E6C3;
	cursor: pointer;
    border: bisque;
    
	margin-left: 1200px;
	margin-bottom: 20px;;
	margin-top: 510px;
}
.hero-button:hover
{
	background: #F7E6C3;
	color:#954E20;
	border:none; 

}

#booking h1{
    padding-top: 40px;
    text-align: center;
    margin-top: 50px;
    color: #954E20 ;
    font-size: 35px;
}
img#h{
    height: 400px;
    width: 800px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius:300px ;
    padding-bottom: 0px;
}
img#ip{
    height: 25px;
    margin-top: 30px;
    margin-left: 100px;
}
img#im{
    height: 25px;
    margin-top: 30px;
   margin-left: 100px;
    border-radius: 5px;
}

.info{
    margin-top: 30px;
    margin-left: 50px;;
}
.social{
   margin-top: -160px;
    margin-left:1025px ;
    padding-bottom:50px; ;
    
}
#Hour{
margin-top: 150px;
}
#Hour h1{
    text-align: center;
    color: #954E20;
    font-size: 35px;
    padding-top: 30px;
}
#slc
{
    height: 450px;
    margin-left: 250px;
    margin-top: 50px;
}
#end h2{
    font-size: 25px;
    margin-left: 550px;
    margin-top: 250px;
    margin-bottom: 150px;
    margin-right: 480px;
    color: white;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    background: rgb(0,0,0,0.6);
    border-radius: 30px;
}